@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #724cf7;
  --text: #141b27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-textColor: var(--text);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b2235;
    --foreground: #ededed;
    --primary: #724cf7;
    --text: #c5c8cc;
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-inter);
}

@layer utilities {
  .contentMargin {
    @apply mx-3 2xl:mx-auto 2xl:w-[1300px];
  }
  .center {
    @apply flex justify-center items-center;
  }
  .center-col {
    @apply flex flex-col justify-center items-center;
  }
  .font-lato {
    font-family: var(--font-lato);
  }
}

input[type='checkbox'] {
  accent-color: var(--color-primary);
}
