@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #724cf7;
  --text: #141b27;
  --gray50: #f9fafb;
  --gray100: #f3f4f6;
  --gray200: #e5e7eb;
  --gray: #72767c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-textColor: var(--text);
  --font-roboto: var(--font-roboto);
  --color-gray50: var(--gray50);
  --color-gray100: var(--gray100);
  --color-gray200: var(--gray200);
  --color-gray: var(--gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b2235;
    --foreground: #ededed;
    --primary: #724cf7;
    --text: #c5c8cc;
    --gray50: #f9fafb;
    --gray100: #f3f4f6;
    --gray200: #e5e7eb;
    --gray: #72767c;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter);
}

@layer utilities {
  .contentMargin {
    @apply mx-3 2xl:mx-auto 2xl:w-[1300px];
  }
  .center {
    @apply flex justify-center items-center;
  }
  .center-col {
    @apply flex flex-col justify-center items-center;
  }
  .font-lato {
    font-family: var(--font-lato);
  }
  .shdow {
    @apply shadow-[0px_4px_8px_rgba(0,0,0,0.1)];
  }
}

input[type='checkbox'] {
  accent-color: var(--color-primary);
}

/* Add to global styles if using Tailwind CSS */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Prevent mobile browser from zooming on input focus */
@supports (-webkit-touch-callout: none) {
  /* iOS Safari */
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}

/* Ensure input area is visible when keyboard appears on mobile */
@media screen and (max-width: 768px) {
  body {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
  }
}
